.App {
  display: flex;
  justify-content: center;
}

form {
  background-color: white;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: regular;
  color: #666666;
  padding: 24px;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f7f7f7;
  padding: 0px 6px;
  margin-top: 6px;
  margin-bottom: 24px;
  width: 376px;
  height: 36px;
}

input:focus {
  background-color: white;
}

.next-btn {
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #FFAB44;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 40px;
  height: 48px;
  margin-left: 24px;
}

html {
  background-color: #585858;
}

.col1 {
  margin-left: 80px;
  margin-top: 32px;
  color: #EAEAEA;
  font-family: Merriweather;
  font-size: 14px;
  width: 535px;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
}

.column {
  float: left;
  flex: 1 0 auto;
}

.col2 {
  background-color: white;
  height: 100vh;
}

@media (min-width: 768px) {
  .column--welcome {
      justify-content: flex-end;
      flex: 0 0 60%;
  }
  
  .column--form {
      justify-content: flex-start;
  }
 
  .left-content {
     flex: 0 1 600px;
   }

   .right-content {
     flex: 0 1 300px;
   }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
